body {
  background-color: #696969;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  color: #000000
}

h1 {
  font-family: Arial,sans-serif;
  font-size: 14pt;
  colour: Red;
  background-color: #B0E0E6
}
