* {
  font-family: 'Arial',sans-serif;
}

body {
  background-color: #696969;
  font-size: 11pt;
  color: #000000
}

h1 {
  font-size: 14pt;
  color: #000000;
  background-color: #B0E0E6
}

a:link{
  color: #FFFFFF;
  text-decoration:none
}

a:visited{
  color: #FFFFFF;
  text-decoration: none;
}

a:hover{
  color: #FFFFFF;
  text-decoration: underline;
}

a:active{
  color: #FFFFFF;
  text-decoration: underline;
}
