<!doctype html>
<html>
  <head>
    <title>ROK Nuclear News</title>
    <link rel="stylesheet" type ="text/css" href="../static/css/style.css">

      <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>

  <body>
    <!-- Navbar -->
         <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll page-top-font" href="/">ROK Nuclear News</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" >

                            <li><a href="/about">About</a></li>
                             <li><a href="/">Home</a></li>

                        </ul>

                </div>
            </nav>
     </div>
     <h1>About</h1>
     <p>Hi! My name is Niamh Healy and I am a Master's student at King's College London.
       In a part-time job alongside my degree, I research ROK nuclear issues.
       This site began as a way for me to test out some ways of automating my work, utilising
       skills I picked up from a <a href="https://codefirstgirls.org.uk">Code First Girls</a>
        Advanced (Python) course. </p>
     <p>I'm on Twitter <a href="https://twitter.com/NiamhFHealy">here</a> and
       check out <a href="https://www.linkedin.com/in/niamh-healy-ab50ab88/">my LinkedIn</a>.</p>
     </body>

     <footer>Copyright <a href="/about">Niamh Healy</a> 2018.</footer>
   </html>
