<!doctype html>
<html>
  <head>
    <title>ROK Nuclear News</title>
    <link rel="stylesheet" type ="text/css" href="../static/css/style.css">

      <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>

 <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

  <body>
    <!-- Navbar -->
         <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll page-top-font" href="/">ROK Nuclear News</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" >

                            <li><a href="/about">About</a></li>
                             <li><a href="/">Home</a></li>

                        </ul>

                </div>
            </nav>
     </div>
        <h1>Here are the latest stories from the ROK:</h1>
        <ul>
          {% for row_index in range(size) %}
          <li>{{ data['Date'][row_index] }}: <a href='{{ data['URL'][row_index] }}' id = '{{row_index}}'> {{ data['Story title'][row_index] }} </a></li>
          <br><button class="btn" data-clipboard-text="{{ row_index }}">Copy citation to clipboard.</button>
          {% endfor %}

        </ul>

        <script>
var btn = document.getElementById('btn');
var clipboard = new ClipboardJS(btn);
clipboard.on('success', function(e) {
    console.log(e);
});
clipboard.on('error', function(e) {
    console.log(e);
});
</script>
    </body>
<footer>Copyright <a href="/about">Niamh Healy</a> 2018.</footer>
</html>
